{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourcegroups/ps4473?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473\",\r\n  \"name\": \"ps4473\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps1583' under resource group 'ps4473' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1583\",\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583\",\r\n  \"etag\": \"W/\\\"378e68da-3477-439e-bab0-132c0731bda7\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3ce8f6b8-6cd1-4930-9b86-dfdbdb92dd37\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps5187\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps5187\",\r\n        \"etag\": \"W/\\\"378e68da-3477-439e-bab0-132c0731bda7\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps8972\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps8972\",\r\n        \"etag\": \"W/\\\"378e68da-3477-439e-bab0-132c0731bda7\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"378e68da-3477-439e-bab0-132c0731bda7\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"ps5187\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"ps8972\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "C[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network/locations/westus/operations/0c0d36f8-6639-4118-a2de-f766565ea328?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps2051' under resource group 'ps4473' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2051\",\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051\",\r\n  \"etag\": \"W/\\\"d4429d09-990e-4051-8535-949018fa1b7e\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"63806486-7004-4b99-87af-da89c53cb90e\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"d4429d09-990e-4051-8535-949018fa1b7e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2051\",\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051\",\r\n  \"etag\": \"W/\\\"a98bbb90-8f55-439a-8da8-8f2603622fdb\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"63806486-7004-4b99-87af-da89c53cb90e\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network/locations/westus/operations/5be3956c-ba71-47de-9639-8348a7ab929b?api-version=2017-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/ps8050' under resource group 'ps4473' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8050\",\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050\",\r\n  \"etag\": \"W/\\\"90e1a10b-424a-40ca-b20c-078452e8aaa8\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f70fc221-8166-4a1b-b567-1c9a620bf3e0\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"90e1a10b-424a-40ca-b20c-078452e8aaa8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.2.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps8972\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"xd1oqpgrnqyetg2g15n3xew3gh.dx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"90e1a10b-424a-40ca-b20c-078452e8aaa8\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"serviceEndpoints\": [],\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps8972\"\r\n          },\r\n          \"primary\": true\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n  [...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/networkInterfaces/ps8050?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"backendIPConfigurations\": [],\r\n                \"backendAddresses\": [],\r\n                \"provisioningState\": \"Succeeded\"\r\n              },\r\n              \"name\": \"ps6723\",\r\n              \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendAddressPools/ps6723\"\r\n            }\r\n          ],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerIn[...]
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps8256' under resource group 'ps4473' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8256\",\r\n  \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256\",\r\n  \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"94e7f61e-3638-4417-8f32-4724aeb2a5bb\",\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps5652\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/gatewayIPConfigurations/ps5652\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps5187\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"name\": \"ps7777\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/authenticationCertificates/ps7777\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendHttpSettingsCollection/ps3927\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps8190\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/frontendIPConfigurations/ps8190\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/publicIPAddresses/ps2051\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/httpListeners/ps658\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps6180\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/frontendIPConfigurations/ps6180\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.6\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps5187\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/httpListeners/ps4219\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps1170\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/frontendPorts/ps1170\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/httpListeners/ps658\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps1069\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/frontendPorts/ps1069\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 8080,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/httpListeners/ps4219\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps9491\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendAddressPools/ps9491\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"1.1.1.1\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"2.2.2.2\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"3.3.3.3\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/requestRoutingRules/ps5348\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/requestRoutingRules/ps8113\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps6723\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendAddressPools/ps6723\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": []\r\n        }\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps6209\",\r\n        \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendHttpSettingsCollection/ps6209\",\r\n        \"etag\": \"W/\\\"d73be55c-a007-41ff-a787-4772815336f3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"connectionDraining\": {\r\n            \"enabled\": true,\r\n            \"drainTimeoutInSec\": 42\r\n          },\r\n          \"pickHostNameFromBackendAddress\": false,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/probes/ps4932\"\r\n          },\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/requestRoutingRules/ps5348\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r[...]
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/virtualNetworks/ps1583/subnets/ps5187\"\r\n          }\r\n        },\r\n        \"name\": \"ps5652\",\r\n        \"id\": \"\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/resourceGroups/ps4473/providers/Microsoft.Network/applicationGateways/ps8256/backendhealth?api-version=2017-11-01&$expand=backendhealth%2Fapplicationgatewayresource",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network/locations/westus/operationResults/7b0eb4ae-2626-4603-9b93-e1a55dfcf4fd?api-version=2017-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7b408ca6-29d0-4f41-931e-31802257fb78/providers/Microsoft.Network/locations/westus/operationResults/7b0eb4ae-2626-4603-9b93-e1a55dfcf4fd?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
