{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Cent[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/ps6562?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562\",\r\n  \"name\": \"ps6562\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps453' under resource group 'ps6562' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps453\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453\",\r\n  \"etag\": \"W/\\\"9319dcf7-d47b-429f-9e4c-a5aaba40cfdb\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"19268ca9-07c3-4c45-b84c-6e9fe33ed37c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps7210\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453/subnets/ps7210\",\r\n        \"etag\": \"W/\\\"9319dcf7-d47b-429f-9e4c-a5aaba40cfdb\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps3850\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453/subnets/ps3850\",\r\n        \"etag\": \"W/\\\"9319dcf7-d47b-429f-9e4c-a5aaba40cfdb\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"9319dcf7-d47b-429f-9e4c-a5aaba40cfdb\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"ps7210\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"ps3850\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "C[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/27c046d3-9d3e-433d-aa37-5e2003bfc53a?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps2868' under resource group 'ps6562' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2868\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868\",\r\n  \"etag\": \"W/\\\"bd69c4d3-a41c-4084-8dcb-cf0eef4a469a\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"ee0296b4-d483-42bf-84d8-75f160b9b176\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"bd69c4d3-a41c-4084-8dcb-cf0eef4a469a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2868\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868\",\r\n  \"etag\": \"W/\\\"0b0e9222-7755-46bd-a442-4f9ceea13591\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"ee0296b4-d483-42bf-84d8-75f160b9b176\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/127ae557-f754-4056-96fd-336b47114f11?api-version=2017-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps5896' under resource group 'ps6562' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5896\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896\",\r\n  \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d6347768-1782-4d37-a4d6-7d7232b15e47\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3900\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/gatewayIPConfigurations/ps3900\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453/subnets/ps7210\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"name\": \"ps5802\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/sslCertificates/ps5802\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"publicCertData\": \"MIIDogYJKoZIhvcNAQcCoIIDkzCCA48CAQExADALBgkqhkiG9w0BBwGgggN3MIIDczCCAlugAwIBAgIQL/k3jna6xZtLgV+mC9tPdzANBgkqhkiG9w0BAQsFADAxMS8wLQYDVQQDDCZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAgFw0xNzEwMzExNzA3MDBaGA8yMDU5MTAzMTE3MTcwMVowMTEvMC0GA1UEAwwmYXBwbGljYXRpb25nYXRld2F5LnBvd2Vyc2hlbGwudGVzdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0xGszrl4F07eN+7WaJhi+ETjDkXJSiTwi0E0qHwCzIFMFypeBGQOQ/nkwcbF/nBRbUQDrGjhaWwdJ0CNHaQ3caVFfNVLb2Wlc4CJazy0bSNyGOJjK4H9WWM+eo7k4jEMmGIp+H5GvovBilwTLK1JQwbrp/XdLgA8TDy8ZLk0LDw5A028QywI8+cRKmmHJoEwIZMMovsqwzAUclsbgKkuRaoF8OOFh9nsOXx9+ulhrqshrpikUsDSsyDhvFLnqVJBdjA1dJDnd8ctGgGXPxhy2SOhOJ/SSPUed0reengNnycBMsumTpW0p/VRgPk1eWRh37MRmxB6X3j5vkgvtt8Z5AgMBAAGjgYQwgYEwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAxBgNVHREEKjAogiZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAdBgNVHQ4EFgQUCXYSgEunlkxbbGLEItZoAIuBWyUwDQYJKoZIhvcNAQELBQADggEBABYZecViOw7UQDGlc4Oy/sVmKbEF/a7XcOTiq95f39LQshc6ZhtkbvqUwzmGVP8S+DvrShI16F/Tkl/KBtUHG/e+l6GjIVbq1ygeTeAGy6BvNhDa41944Hd4A85X7YeD9qkQzHlAS8gBED1dTh3dXSVVdRZ5pcK0nxfNth3xQGTlfEFpPN6C6434YLQ5RvyYQGJkf3Amu8n8fWT40QIrsIPbbTdmXOl1I60NP7EPQp+9sHtdajZactzFJ2/ovOaK5JGRiX5RtRqz0hQT/6Benn7maD7Hz5bfOB8UmD4iR/QhWrcT+mCr1qS+ZFrD0bcEAi0NoJlSVFIB6rgUyE4CqxExAA==\",\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps676\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps8010\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/frontendIPConfigurations/ps8010\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/publicIPAddresses/ps2868\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps676\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps1580\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps8584\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/frontendPorts/ps8584\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps676\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps9492\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/frontendPorts/ps9492\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps1580\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps4989\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/backendAddressPools/ps4989\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/requestRoutingRules/ps5189\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps9036\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/backendHttpSettingsCollection/ps9036\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/probes/ps6983\"\r\n          },\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/requestRoutingRules/ps5189\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps676\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps676\",\r\n        \"etag\": \"W/\\\"f9c324a0-41fd-479b-bf74-44a541780b25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/frontendIPConfigurations/ps8010\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/frontendPorts/ps8584\"\r\n          },\r\n          \"protocol\": \"Https\",\r\n          \"sslCertificate\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/sslCertificates/ps5802\"\r\n          },\r\n          \"requireServerNameIndication\": false,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/requestRoutingRules/ps5189\"\r\n            }\r\n          ],\r\n          \"redirectConfiguration\": [\r\n            {\r\n              \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/redirectConfigurations/ps6719\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps1580\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/httpListeners/ps1580\",\r\n        \"etag[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896?api-version=2017-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"policyType\": \"Custom\",\r\n      \"cipherSuites\": [\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\",\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\",\r\n        \"TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA\",\r\n        \"TLS_RSA_WITH_AES_128_GCM_SHA256\"\r\n      ],\r\n      \"minProtocolVersion\": \"TLSv1_1\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/virtualNetworks/ps453/subnets/ps7210\"\r\n          }\r\n        },\r\n        \"name\": \"ps3900\",\r\n        \"id\": \"\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIK8QIBAzCCCq0GCSqGSIb3DQEHAaCCCp4EggqaMIIKljCCBg8GCSqGSIb3DQEHAaCCBgAEggX8MIIF+DCCBfQGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgdE3kuZQ+Q3gICB9AEggTY5iAjhTBjltWxD0ssy9ry9anXUgD+FYCFjZzSeOf2O1x8Fp3wu3SG2bMArVOrkrh8oFzZbMnI0JS6vRTFyITlMUNXHWj5J+4Y4AI7rt/5Kg2agHzCp1ssiNtmHAD7+1zsLZ/xX+zT/oGByKRDmBvthKTX0bN1vugOv/bo3SXKaSriL/GIeLvcRovPXYIOFQw17GvykvYGG3X3MHQZJ4EpZwku9cyaleOpmlVRdABW1iW3kNU87N2/0cMzN2FRHrn9fNUfTvshnGob7jiHYXf3iu4ZE+ebAcVRlgWwGS9+kmkI3ueyWGDPDnoSr49PbpznIHt7OcNhWz19oBPVm[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/ps6562/providers/Microsoft.Network/applicationGateways/ps5896/stop?api-version=2017-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/4021cf78-d244-496b-ac73-f32f46cec876?api-version=2017-11-01"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/4021cf78-d244-496b-ac73-f32f46cec876?api-version=2017-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/4021cf78-d244-496b-ac73-f32f46cec876?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/4021cf78-d244-496b-ac73-f32f46cec876?api-version=2017-11-01"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/4021cf78-d244-496b-ac73-f32f46cec876?api-version=2017-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14768"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1NjItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1NjItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1NjItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ApplicationGatewayCRUD2": [
      "ps6562",
      "ps5896",
      "ps453",
      "ps7210",
      "ps3850",
      "ps2868",
      "ps3900",
      "ps8584",
      "ps9492",
      "ps8010",
      "ps676",
      "ps1580",
      "ps5802",
      "ps6476",
      "ps4989",
      "ps9036",
      "ps6719",
      "ps4616",
      "ps9930",
      "ps5189",
      "ps5329",
      "ps6983"
    ]
  },
  "Variables": {
    "SubscriptionId": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}